@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700;800;900&display=swap');

/* typography */
a, p, h1, h2, h3, h4, h5, h6, .form_field, .radio_field, input[type=text], input[type=submit], input[type=password], .username, text, textarea, #date_field, table{
    font-family: 'Poppins', sans-serif;
}

input[type='text'], textarea{
    font-size: 16px;

}

input[type=submit], #logout, .username, #nav, th{
    font-weight: 600;
    font-size: 18px;
}
#date_field{
    text-align: center;
    padding: 0.5em;
    font-size: 16px;
}
.validation{
    color: red;
}
#logout, #nav{
    text-decoration: none;
    color: black;
    text-align: center;
    padding: .5em 1em;
    border-radius: 15px;
    text-transform: uppercase;
}

.action_link, .recipe_action{
    text-decoration: none;
    font-weight: 600;
    color: black;
}


#logout{
    background-color: rgb(100, 223, 159);
}
#nav{
    background-color: rgb(114, 212, 212);
}

.dashboard_h2{
    margin-bottom: 1em;
}
.recipe_name{
    text-decoration: none;
    font-weight: 800;
    color: black;

}
th{
    text-transform: uppercase;
}
/* layout */
*{
    margin: 0px;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 0em;

}

.container{
    display: flex;
    /* grid-template-columns: 1fr 1fr;
    gap: 1em; */
    flex-direction: row;
    width: 75%;
}

.form_container, .recipe_container{
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 236, 236);
    width: 100%;
    padding: 2em;
    margin: 25px;
    border-radius: 15px;
}
.recipe_form_container{
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 236, 236);
    width: 100%;
    padding: 2.5em;
    margin: 2.5em;
    border-radius: 15px;
    height:fit-content;
}

.form_field{
    padding: 10px 0px;
}
.radio_field{
    margin-right: 1.5em;
}
input[type=text], input[type=password], #date_field {
    padding: 10px 5px;
    border: 0px;
    border-radius: 15px;
    margin-bottom: 1em;
}
#recipe_form_name{
    margin-left: 0.5em;
    margin-bottom: 1.5em;
}
textarea {
    padding: 10px 5px;
    border: 0px;
    border-radius: 15px;
    margin-bottom: 1em;
}
#register, #login{
    margin-top: 30px;
    padding: 10px;
    border: 0px;
    border-radius: 15px;
}
.save_recipe{
    padding: 10px;
    border: 0px;
    border-radius: 15px;
    margin-top: 2.5em;
}
#register, .save_recipe{
    background-color: rgb(114, 212, 212);
}
#login{
    background-color: rgb(100, 223, 159);
}
form{
    display: flex;
    flex-direction: column;
}

#header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-bottom: 0.25em solid  black ;
    padding-bottom: 1em;
}

#header_links{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 1em;
    align-items: center;
    /* margin-right: 10em; */
}

.recipe_form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items:flex-start;
    gap: 1em;
}
.form_col{
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
}


table{
    text-align: left;
    width: 100%;
    border-spacing: 0;
}
th, td {
    padding: 15px;
    text-align: left;
}

th{
    font-weight: 700;
    background-color: rgb(191, 191, 191);
    padding: 10px;
    border: 0px;
    margin:0px
}
    
tr:nth-child(odd) {
    background-color: #f2f2f2;
} 

.action_link{
    padding-bottom: 2px;
    margin: 0px 1em;
}
.action_links{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.action_links_recipe{
    display: flex;
    margin-top: 30px;
    border-top: solid black;

}
.recipe_action{
    margin-top: 15px;
    margin-right: 1em;

}